main{
    background-color: #1c1c1c;
}

.comics{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;

    .card{
        width: calc((100% / 12) * 2);
        margin: 10px 0;

        h5{
            color: white;
            text-transform: uppercase;
        }
    }
}

.card-details{
    background-color: white;
    padding: 20px 0;

    h2{
        text-align: center;
    }

    .details-container{
        display: flex;
        justify-content: center;
        margin-top: 20px;

        p{
            max-width: 30%;
            padding-left: 20px;
        }
    }
}